{{- if eq .chezmoi.os "darwin" -}}
#! /bin/bash

brew bundle --no-lock --file={{ .chezmoi.sourceDir }}/Brewfile

[[ -d ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k]] || git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k

$(brew --prefix)/opt/fzf/install

{{ end -}}
