-- vim: ft=lua
-- Options are automatically loaded before lazy.nvim startup
-- Default options that are always set: https://github.com/LazyVim/LazyVim/blob/main/lua/lazyvim/config/options.lua
-- Add any additional options here
local set = vim.opt
local g = vim.g
set.winbar = "%=%m %f"
g.python3_host_prog = "{{.chezmoi.homeDir}}/.pyenv/versions/py3nvim/bin/python"
g.markdown_folding = 1
set.guifont = "Hack Nerd Font"
set.foldlevel = 99
{{- if eq .chezmoi.hostname "Nicolajs-MBP" }}
set.runtimepath:append({ "/opt/homebrew/share/vim/vimfiles" })
{{- end }}
g.lazyvim_prettier_needs_config = false
-- Default LaxyVim options use the system clipboard (unnamedplus register)
-- I don't want tha
set.clipboard = ""
-- Explicitly state what I want for indents, regardless of LazyVim defaults
vim.opt.expandtab = true
vim.opt.tabstop = 4
vim.opt.shiftwidth = 4
vim.opt.softtabstop = 4
