-- vim: ft=lua
-- Options are automatically loaded before lazy.nvim startup
-- Default options that are always set: https://github.com/LazyVim/LazyVim/blob/main/lua/lazyvim/config/options.lua
-- Add any additional options here

-- Disable LazyVim's AI completion
vim.g.ai_cmp = false
vim.g.lazyvim_prettier_needs_config = false
vim.g.markdown_folding = 1
vim.g.python3_host_prog = "{{.chezmoi.homeDir}}/.pyenv/versions/py3nvim/bin/python"

-- Default LaxyVim options use the system clipboard (unnamedplus register)
-- I don't want tha
vim.opt.clipboard = ""
-- Explicitly state what I want for indents, regardless of LazyVim defaults
vim.opt.expandtab = true
vim.opt.exrc = true
vim.opt.foldlevel = 99
vim.opt.guifont = "Hack Nerd Font"
{{- if eq .chezmoi.hostname "Nicolajs-MBP" }}
vim.opt.runtimepath:append({ "/opt/homebrew/share/vim/vimfiles" })
{{- end }}
vim.opt.shiftwidth = 4
vim.opt.softtabstop = 4
vim.opt.tabstop = 4
vim.opt.winbar = "%=%m %f"

